body{ margin:0; padding:0;}
.cover{
    height:100%;
     
    }
/*标题*/
.p1{
	text-align:center;
	font-size:1.5em;	
	color:#0468bb;
	
	font-weight:normal;
	line-height:200%;
	}/*标题1*/
.p2{
	font-size:1.4em;
	text-align:left;
	color:#0468bb;
	text-indent:0em;
	
	font-weight:normal;
	line-height:200%;
	}/*标题2*/

/*图书名称--------------------------------------*/
.p3{
	font-size:1.3em;
	text-align:left;
	color:#0468bb;
	text-indent:0em;
	/*微软雅黑*/
	font-weight:normal;
	line-height:200%;
	}/*标题3*/
/*图书名称--------------------------------------*/

/*副书名/作者/译者/英文书名---------------------*/
.p4{
	font-size:1.2em;
	text-align:left;
	color:#0468bb;
	text-indent:0em;
	
	font-weight:normal;
	line-height:200%;
}/*标题4*/
/*副书名/作者/译者/英文书名---------------------*/

.p5{
	font-size:1.1em;
	text-align:left;
	color:#0468bb;
	text-indent:0em;
	
	font-weight:normal;
	line-height:200%;
	}/*标题5*/

/*丛书系列-------------------------------*/
.p6{
	font-size:1.0em;
	text-align:left;
	color:#0468bb;	
	text-indent:0em;
	
	font-weight:normal;
	line-height:200%;
	}/*标题6*/
/*丛书系列-------------------------------*/

/*一般修饰序和正文中出现的小标题、名人名言*/
.yanse{
	color:#0468bb;
	
	text-indent:2em;
	font-size:1.0em;
	line-height:200%;
	}
/*一般修饰序和正文中出现的小标题、名人名言*/

/* 表格 */
table.tablebody {
	
	font-weight: normal;
	font-size: 0.8em;
	margin:0em 2em 0em 2em;
}


/* 表格居中 */
tr.textcenter {
	text-align:left;
	
	font-size: 0.8em;
}



/*居右-----------------------------------------*/
.you{
	text-align:right;
	
	text-indent:2em;
	font-size:1.0em;
	line-height:200%;
	}/*一般修饰序和正文中出现的名人名言作者*/
/*居右-----------------------------------------*/


/*引文居右-----------------------------------------*/
.you1{
	text-align:right;
	/*华文楷体*/
	text-indent:2em;
	font-size:1.0em;
	line-height:200%;
	}
/*引文居右-----------------------------------------*/


/*正文------------------------------------------*/
.ziti{
	
	text-indent:2em;
	font-size:1.0em;
	line-height:200%;
	}
/*正文------------------------------------------*/
/*章下目录------------------------------------------*/
.ziti-1{
	/*华文楷体*/
	text-indent:2em;
	font-size:1.0em;
	line-height:200%;
	}
/*章下目录------------------------------------------*/
/*代码--------------------------------------*/
.ziti1{
   
   text-indent:2em;
   font-size:0.8em;
   margin:0;
   padding:0;
   line-height:110%;
	}
/*代码--------------------------------------*/


/* pre代码更新 */
pre {

font-size:0.8em;
margin:0 0 0 2em;
padding:0;
line-height:110%;
border-top:1px black solid;
border-bottom:1px black solid;
}

/*版权所有信息-----------------------------*/
.ziti2{
	
	font-size:1.0em;
	line-height:150%;
	text-align:left;
	}
/*版权所有信息-----------------------------*/

/*客服信息---------------------------------*/
.ziti3{
	/*华文楷体*/
	font-size:1.0em;
	line-height:100%;
	text-align:left;
	}
/*客服信息---------------------------------*/

/*ISBN号-----------------------------------*/
.ziti4{
	
	font-size:1.0em;
	line-height:100%;
	color:#0468bb;
	text-align:left;
	}
/*ISBN号-----------------------------------*/

/*代码说明-----------------------------------*/
.ziti5{
   /*华文楷体*/
   text-indent:2em;
   font-size:0.8em;
   line-height:160%;
	}
/*代码说明-----------------------------------*/

/*引文---------------------------------*/
.ziti6{
   /*华文楷体*/
   text-indent:2em;
   font-size:1.0em;
   line-height:200%;
	}	
/*引文---------------------------------*/


/*图说-------------------------------------*/
.middle-img{
	text-align:center; 
	margin:0;
	/*华文楷体*/
	font-size:1.0em;
	line-height:200%;
	}  /*用作插图及图注*/
.middle-img-1{
	text-align:justify; 
	margin:0;
	/*华文楷体*/
	font-size:1.0em; 
	line-height:200%;
	}  /*用作插图及图注*/
/*图说-------------------------------------*/

/*引文标题---------------------------------*/
.middle-img1{
	text-align:center; 
	margin:0;
	
	font-size:1.0em;
	line-height:200%;
	}
/*引文标题---------------------------------*/


/*图片*/
.pic{
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
	}/*居中*/
/**/
/*图片*/
.pic-float-l{float:left;margin-top:10px;margin-right:10px;margin-bottom:10px;margin-left:0px;}/*居左绕文*/
/*图片*/
.pic-float-r{float:right;margin-top:10px;margin-right:0px;margin-left:10px;margin-bottom:10px;}/*居右绕文*/
/*图片*/
.pic-l{text-align:left;margin-top:10px;margin-bottom:10px;margin-left:2em;}/*居左不绕文*/
/*图片*/
.pic-r{text-align:right;margin-top:10px;margin-right:0px;margin-bottom:10px;}/*居右不绕文*/


/*注解内容--------------------------------*/
.fnote{
	font-size:1.0em;
	
	text-indent:0em;
	margin:0;
	text-align:justify;
	line-height:200%;
	}
/*注解内容--------------------------------*/

/*目录页*/
.contents-title{
	font-size:2em;
	
	line-height:200%;
	text-align:center;
	font-weight:normal;
	}
/*目录一级标题*/
.contents1{
	font-size:1.0em;
	margin-left:0em;
	
	line-height:200%;
	text-align:justify;
	}
/*目录二级标题*/
.contents2{
	font-size:1.0em;
	margin-left:1em;
	
	line-height:200%;
	text-align:justify;
	}
/*目录三级标题*/
.contents3{
	font-size:1.0em;
	margin-left:2em;
	
	line-height:200%;
	text-align:justify;
	}
/*目录四级标题*/
.contents4{
	font-size:1.0em;
	margin-left:3em;
	
	line-height:200%;
	text-align:justify;
	}


a{color:#F60;text-decoration:none;}
a:hover{color:#0468bb; text-decoration:underline;}
img{border:0;}
.mu_1{
	font-size:1.5em;	
	
    color:#0468bb;
	font-weight: normal;
	text-align:left;
	line-height:200%;
}
.mu_2{
	color:#000;
	font-size:1.4em;
	
	font-weight: normal;
	text-align:left;
	line-height:200%;
	text-indent:2em;
	}
.mu_3{
	font-size:1.0em;
    
    text-align:justify;
    text-indent:4em;
    line-height:200%;
	}