h2{
	color:#000000!important;  
}
/* 单线边框灰底*/
.solidgrey {
border:solid 1px;
margin:1em 0.5em;
padding:0.8em 0.5em; 
background-color:#dcdcdc;
}

.width40 {
	width:40%;	
}



/* 单行垂直居中3 */
div.juzhong3{
margin:30% 20% auto 20%;
}

/* 圆角边框 */
.roundsolid{
margin:1em 0.5em;
padding:0.8em 0.5em;
-moz-border-radius: 19px;
-webkit-border-radius: 19px;
border-radius: 19px;
border:solid 1px;
}
/* 左浮动框*/
div.fleft2{
float:left;
 
width:48%;
margin:10px 2% 10px 0px;
text-align: center;
}
/*行内图*/
.h-pic {
	height:2em;
	vertical-align:middle;
     margin-left:0.1em;
     margin-right:0.1em;
}
